<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block 'title' %}{% endblock 'title' %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css" />
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    {% block 'estilos' %}{% endblock 'estilos' %}
</head>
<body>
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">My Site</a></h1>
	    </li>
	  </ul>
	
	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li class="active"><a href="#">Right Nav Button Active</a></li>
	      <li class="has-dropdown">
	        <a href="#">Right Button with Dropdown</a>
	        <ul class="dropdown">
	          <li><a href="#">First link in dropdown</a></li>
	        </ul>
	      </li>
	    </ul>
	
	    <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a href="#">Left Nav Button</a></li>
	    </ul>
	  </section>
	</nav>
	<div class="row">
		<div class="small-4 medium-4 large-4 columns">
			<dl class="accordion" data-accordion>
			  <dd>
			    <a href="#panel1">Accordion 1</a>
			    <div id="panel1" class="content active">
			      Panel 1 Content
			    </div>
			  </dd>
			  <dd>
			    <a href="#panel2">Accordion 2</a>
			    <div id="panel2" class="content">
			      Panel 2 Content
			    </div>
			  </dd>
			  <dd>
			    <a href="#panel3">Accordion 3</a>
			    <div id="panel3" class="content">
			      Panel 3 Content
			    </div>
			  </dd>
			</dl>
		</div>
	  <div class="small-8 medium-8 large-8 columns">
	{% block 'content' %}
		
	{% endblock 'content' %}
		</div>
	</div>
	<script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script>
		$(document).foundation();
    </script>
    {% block 'scripts' %}{% endblock 'scripts' %}
</body>
</html>